/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.someClass {
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.code-block {
    padding: 3px;
    border-width: 5px;
    border-color: darkblue;
    border-radius: 2px;
    color: black;
    background-color: lightblue;
}